<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da velha</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <header>
        <a href="/views/">Reiniciar</a>
    </header>
    <div class="spaces">
        <li id="1" jogada="">
            
        </li >
        <li id="2" jogada="">
            
        </li>
        <li id="3" jogada="">
            
        </li>
        <li id="4" jogada="">
            
        </li>
        <li id="5" jogada="">
            
        </li>
        <li id="6" jogada="">
            
        </li>
        <li id="7" jogada="">
            
        </li>
        <li id="8" jogada="">
            
        </li>
        <li id="9" jogada="">
            
        </li>
    </div>
    <div class="left" id="left">
        <h1>Jogadores:</h1>
        <input type="text" name="" id="tex1" placeholder="Insira o nome do jogador 1" required><br>
        <input type="text" name="" id="tex2" placeholder="Insira o nome do jogador 2" required><br>
        <button id="but">Jogar</button><br>
    </div>
    
    <script src="/scripts/index.js"></script>   
</body>
</html>